---
import { Image } from "@astrojs/image/components";
import Layout from "../layout.astro";

const title = "Successfully submitted form";
const description = "Form submission completed successfully.";
---

<Layout title={title} description={description}>
  <div class="grid min-h-screen max-w-sm mx-auto place-content-center p-5">
    <Image
      src="/svg/success.svg"
      height={160}
      width={160}
      alt=""
      format="svg"
    />

    <h1 class="mt-16 text-4xl leading-[50px] text-primary">
      Successfully submitted form 🎉
    </h1>

    <a
      href="/"
      class="mt-10 block w-full border-2 border-primary bg-primary py-4 text-center tracking-wider text-white outline-none focus:border-gray-400"
    >
      Back to Home
    </a>
  </div>
</Layout>
