---
import './styles/global.css';

const { title, description } = Astro.props;
---

<html lang="ja">
  <head>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icon/favicon-16x16.png"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://vivace-app.com/img/ogp.avif" />
    <title>{title}</title>
  </head>

  <body class="font-lora">
    <slot />
  </body>
</html>
